@font-face {
  font-family: "kurewa";
  src: url(../assets/fonts/KurewaGothicCjkTc-Regular.woff2) format("woff2");
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "kurewa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}
